/* 
    General Styles
    los unicos estilos por el momento para la portada y el navbar, con las dimensiones de las fotos
*/
.logoPokemon{
    width:200px;
}
.imagenPortada{
    width: 1100px;
}
.BgDetalle{
    display: flex;
    background-image: url("https://media.giphy.com/media/kg19fN5BXbZGIDznzG/giphy.gif");    
    width:100%;
    height:auto;
    object-fit:cover;
}

